.bg-header {
  background: #000034 !important;
}

.rounded-custom {
  border-radius: 20px;
}

.sidebar {
  border-top-left-radius: 40px;
}

.filter-menu {
  background: rgba(255, 255, 255, 0.1) !important;
}

.invert {
  filter: invert(1);
}

.p-btn {
  padding: 5px;
}

.today-card {
  transform: translateY(-3rem);
  width: 100%;
}

.content {
  transform: translateY(-3rem);
}

.klatsch-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 2rem;
}
